# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md

# Test files
coverage
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Misc
.husky
.eslintcache

